{% extends 'index.html' %}

{% block head %}
<title>EE461L: About</title>
{% endblock %}


{% block body %}
<h4>Group Name: Team E9</h4>

<h4>Description</h4>
<p>
This site provides interesting and useful information on the NBA and the WNBA. Users can interact with this site to search up their favorite NBA players and teams. Users can also be kept up to date on the latest basketball scores and news. 
</p>
<p>
The purpose of this site is to serve as a tool that NBA and WNBA fans can use to stay up-to-date regarding their favorite players and teams as well as the latest basketball stats and news. 
</p>
<p>
The intended users are NBA and WNBA fans, or anyone who wants to learn more about these leagues.
</p>

<h4>Data</h4>
<ul>
	<li><a href="http://www.espn.com/apis/devcenter/docs/">ESPN API</a></li>
	<li><a href="https://github.com/swar/nba_api">API-NBA</a></li>
	<li><a href="https://developer.sportradar.com/docs/read/basketball/WNBA_v3#wnba-api-map">Sportradar: WNBA API</a></li>
</ul>
<p>We are obtaining the data from existing NBA/WNBA and news APIs and using MongoDB as our database. The data is being requested through our main.py. The user may search up a certain player or team and our code requests the information about that searched element from these API’s and then displays the information to the user. For the user’s favorite players and teams information, they will be stored in MongoDB so that it is saved on their Favorite Player and Favorite Team pages for their specific account that they log in with on our website.  
</p>

<h4>Tools</h4>
<p>
API-NBA: We are using the API-NBA to grab information about NBA players and teams.</p>
<p>WNBA-API: We are using the WNBA API provided by sportradar to grab information about WNBA players and teams.</p>
<p>ESPN API: We are using the ESPN API to grab news about the NBA and WNBA, as well as other statistics and season/trade predictions.</p>
<p>MongoDB: We are using MongoDB to store all the information we have gathered from our APIs, so we can easily access them via our program and the web.</p>
<p>Google Cloud Platform: We are using GCP to host our website, so anyone can have access to it and be able to use the website.</p>
<p>Flask: We are using Flask to have our python code work alongside the code for our static website.</p>
<p>Bootstrap: We are using Bootstrap CSS to add more stylization to our website, and make it visually appealing to the user.
</p>

<a href="https://github.com/UT-SWLab/TeamE9">Our Github Repository</a>


<h4>Group Nembers</h4>
<table>
	<tr>
		<th>
			Name
		</th>
		<th>
			Picture
		</th>
		<th>
			Information
		</th>
	</tr>
	<tr>
		<td>
			Morgan Murrell
		</td>
		<td>
			Picture
		</td>
		<td>
			<p>I’m a 5th year ECE student, and my primary tech core is Computer Architecture and Embedded Systems. As of right now, my primary responsibilities are setting up the front page of the website, the settings page, and the log-in/sign-up page.
			</p>
		</td>
	</tr>
	<tr>
		<td>
			Alina Nguyen 
		</td>
		<td>
			Picture
		</td>
		<td>
			<p>I am a 4th year ECE student and my primary tech core is Software Design and Implementation. I am also minoring in Korean. As of right now, my responsibilities include setting up and designing the favorite player page, favorite team page, and also the comparison page so that the user can compare the stats of certain players and teams.</p>
		</td>
	</tr>
	<tr>
		<td>
			Bibartan Jha
		</td>
		<td>
			Picture
		</td>
		<td>
			<p>I am a 4th year ECE student, and my primary tech core is Software Design & Implementation. As of right now, my primary responsibilities in this project are setting up the players page, the teams page, and the news page.</p>
		</td>
	</tr>
	<tr>
		<td>
			Andrew Brown
		</td>
		<td>
			Picture
		</td>
		<td>
			<p>I am a 4th year ECE student, and my primary tech core is Software Design & Implementation. My primary responsibilities in this project are creating an interactive season/playoffs simulator and a trade simulator. Also, I am responsible for creating a page that outputs basketball events that occurred in a given year specified by the user. 
			</p>
		</td>
	</tr>

</table>

{% endblock %}