{% extends 'index.html' %}

{% block head %}
<title>EE461L: About</title>
{% endblock %}


{% block body %}
<h4>Group Name: Team E9</h4>

<h4>Group Nembers</h4>
<table>
	<tr>
		<th>
			Name
		</th>
		<th>
			Picture
		</th>
		<th>
			Information
		</th>
	</tr>
	<tr>
		<td>
			Morgan Murrell
		</td>
		<td>
			Picture
		</td>
		<td>
			<p>bio here</p>
		</td>
	</tr>
	<tr>
		<td>
			Alina Nguyen 
		</td>
		<td>
			Picture
		</td>
		<td>
			<p>bio here</p>
		</td>
	</tr>
	<tr>
		<td>
			Bibartan Jha
		</td>
		<td>
			Picture
		</td>
		<td>
			<p>bio here</p>
		</td>
	</tr>
	<tr>
		<td>
			Andrew Brown
		</td>
		<td>
			Picture
		</td>
		<td>
			<p>bio here</p>
		</td>
	</tr>

</table>

{% endblock %}