{% extends 'index.html' %}

{% block head %}
<title>Trade Simulator</title>
{% endblock %}

{% block body %}
<div class = "form">
    <form action="/TradeSim" method="POST">
        <label for = "playerName1">Player 1:</label>
        <input type = "text" id = "playerName1" name = "playerName1"><br><br>
        <label for = "playerName2">Player 2:</label>
        <input type = "text" id = "playerName2" name = "playerName2"><br><br>
        <input type = "submit" value = "Submit">
    </form>
</div>
<br>

<p>{{valid_trade}}</p>

{% endblock %}