{% extends 'index.html' %}

{% block head %}
<title>Coaches</title>

<style>
    body {text-align: center;}
    table{
        margin: 0px auto;
        background-color:lightgreen;
    }
    td {
      padding: 0 10px;
    }
</style>
{% endblock %}

{% block body %}
<div class="jumbotron bg-danger text-white">
    <h1 style = "color: white">Coaches</h1>
</div>

<div class="media-container">
{% if coach_selected %}
<table>
    <tr>
    <td style="font-weight:bold">Coach Name</td>
        <td>{{coach_name}}</td>
    </tr>
    <tr>
        <td style="font-weight:bold">Coach Type</td>
            <td>{{coach_type}}</td>
    </tr>
    <tr>
        <td syle="font-weight:bold">Team Name</td>
            <td>{{team_name}}</td>
    </tr>
    <tr>
        <td syle="font-weight:bold">Season</td>
            <td>{{season_type}}</td>
    </tr>
    <tr>
        <td style="font-weight:bold"></td>
            <td><img name = "image" src="/static/images/coachespage/{{ coach_name }}.jpeg" alt="No picture found" width="120" height="180" /></td>
    </tr>
</table>
<br>
{% endif %}
</div>

<div style="background-color: rgb(179, 173, 230)">
<br>
<h4 style = "color: black">Select a Coach</h4>
<br>

<div class="form pb-3">
    <form action="/Coaches" method="POST" style="text-align: center">
        <select id="coach_choices" name="coach_choices" class="custom-select-sm">
            <option value="" selected disabled hidden></option>
            <option selected>Select a Coach</option>
            {% for coach in coaches_documents %}
                <option>{{coach['Coach Name']}}</option>
           {% endfor %}
        </select>
        <button type="submit" class="btn btn-secondary ml-3">Select</button>
    </form>
    </div>

{% endblock %}