{% extends 'index.html' %}

{% block head %}
<title>EE461L: Favorite Player</title>
{% endblock %}

{% block body %}
<h1 style="text-align: center"> My Favorite Players</h1>
<h4 style="text-align: center">Add your favorite players here
  </h4>

<form action="/favplayer" method="POST" style="text-align: center">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Player">
</form>

  <table style="background-color:lightblue">
    <tr >
        <td style="font-weight:bold">Name: </td>
        <td>Jason Kidd</td>
    </tr>
       <tr >
        <td style="font-weight:bold">Is Active: </td>
        <td>Yes</td>
    </tr>
       <tr >
        <td style="font-weight:bold">Latest Game Stats </td>
       </tr>
      <div></div>
       <tr >
        <td style="font-weight:bold">Date: </td>
        <td>June 05, 2019</td>
    </tr>
       <tr >
        <td style="font-weight:bold">Opposing Team: </td>
        <td>Raptors</td>
    </tr>
       <tr >
        <td style="font-weight:bold">Opposing Team City: </td>
    </tr>
      <tr >
        <td style="font-weight:bold">Final Score: </td>
      </tr>
  </table>

{% endblock %}