{% extends 'index.html' %}

{% block head %}
<title>EE461L: Favorite Team</title>
{% endblock %}

{% block body %}
<<div class="jumbotron bg-info text-white" style="text-align: center">
    <h1>My Favorite Teams</h1>
</div>

<div class="form pb-3">
<form action="/favteam" method="POST" style="text-align: center">
    <select id="teamchoices" name="teamchoices" class="custom-select-sm">
        <option value="" selected disabled hidden></option>
        <option selected>Select a Team</option>
        {% for team in teamList %}
            <option>{{team.full_name}}</option>
       {% endfor %}
    </select>
    <button type="submit" class="btn btn-secondary ml-3">Add</button>
</form>
</div>


<div class="container col-md-6">
  <table class="table" style="background-color:lightgrey">
      <thead class="thead-dark">
        <tr><th>{{name}}</th></tr>
      </thead>
      <tr>
          <td style="font-weight:bold">Abbreviation: </td>
          <td>{{abr}}</td>
      </tr>

      <tr>
          <td style="font-weight:bold">Nickname: </td>
          <td>{{nickname}}</td>
      </tr>

      <tr>
            <td style="font-weight:bold">City: </td>
            <td>{{city}}</td>
        </tr>

        <tr>
            <td style="font-weight:bold">State: </td>
            <td>{{state}}</td>
        </tr>

        <tr>
            <td style="font-weight:bold">Year Founded: </td>
            <td>{{year}}</td>
        </tr>

        <tr>
            <td style="font-weight:bold">Head Coach: </td>
            <td>{{coach}}</td>
        </tr>

        <tr>
            <td style="font-weight:bold">Manager: </td>
            <td>{{manager}}</td>
        </tr>

        <tr>
            <td style="font-weight:bold">Facebook: </td>
            <td><a href={{facebook}}>{{facebook}}</a></td>
        </tr>

        <tr >
            <td style="font-weight:bold">Instagram: </td>
            <td><a href={{instagram}}>{{instagram}}</a></td>
        </tr>

        <tr >
            <td style="font-weight:bold">Twitter: </td>
            <td><a href={{twitter}}>{{twitter}}</a></td>
        </tr>

  </table>
</div>

{% endblock %}

