{% extends 'index.html' %}

{% block head %}
<title>EE461L: Favorite Team</title>
{% endblock %}

{% block body %}
<h1 style="text-align: center"> My Favorite Teams</h1>
<h4 style="text-align: center">Add your favorite teams here
  </h4>

<form action="/favteam" method="POST" style="text-align: center">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Team">
</form>

  <table style="background-color:lightblue">
    <tr >
        <td style="font-weight:bold">Team Name: </td>
        <td>New York Knicks</td>
    </tr>
       <tr >
        <td style="font-weight:bold">Abbreviation: </td>
        <td>NYK</td>
    </tr>
       <tr >
        <td style="font-weight:bold">Nickname: </td>
        <td>Knicks</td>
    </tr>
       <tr >
        <td style="font-weight:bold">City: </td>
        <td>New York</td>
    </tr>
       <tr >
        <td style="font-weight:bold">State: </td>
        <td>New York</td>
    </tr>
       <tr >
        <td style="font-weight:bold">Year Founded: </td>
        <td>1946</td>
    </tr>
      <tr >
        <td style="font-weight:bold">Coach: </td>
        <td>Red Holtzman</td>
    </tr>
      <tr >
        <td style="font-weight:bold">Facebook: </td>
        <td><a href="https://www.facebook.com/NYKnicks">https://www.facebook.com/NYKnicks</a></td>
    </tr>
      <tr >
        <td style="font-weight:bold">Instagram: </td>
        <td><a href="https://instagram.com/nyknicks">https://instagram.com/nyknicks</a></td>
    </tr>
      <tr >
        <td style="font-weight:bold">Twitter: </td>
        <td><a href="https://twitter.com/nyknicks">https://twitter.com/nyknicks</a></td>
    </tr>


  </table>

{% endblock %}

