{% extends 'base_modelpages.html' %}

{% block title %}
<title>Franchise Leaders</title>
{% endblock %}
{% block body %}
<div class="jumbotron bg-success text-white" style="text-align: center">
    <h1>Franchise Leaders</h1>
</div>
<div class="grid-container">
    {% for i in range(franLeaders_documents| length) %}
        {% if (i % 2) == 0 %}
        <div class = "grid-item">
            <h4><b>{{franLeaders_documents[i]['Team Name']}}</b></h4>
            <img src="/static/images/nbaTeams_fran/{{ franLeaders_documents[i]['Team Name'] }}.jpeg" alt="No picture found" width="120" height="120" />
            <br>
            <br>
            <table>
            	<tr>
                    <td style="font-weight:bold">Franchise Leader Points</td>
                    <td>{{franLeaders_documents[i]['PTS Franchise Leader Name']}}</td>
                </tr>
            	<tr>
                    <td style="font-weight:bold">Total Points</td>
                    <td>{{franLeaders_documents[i]['Total Points']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Franchise Leader Assists</td>
                    <td>{{franLeaders_documents[i]['AST Franchise Leader Name']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Total Assists</td>
                    <td>{{franLeaders_documents[i]['Total Assists']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Franchise Leader Rebounds</td>
                    <td>{{franLeaders_documents[i]['REB Franchise Leader Name']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Total Rebounds</td>
                    <td>{{franLeaders_documents[i]['Total Rebounds']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Franchise Leader Blocks</td>
                    <td>{{franLeaders_documents[i]['BLK Franchise Leader Name']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Total Blocks</td>
                    <td>{{franLeaders_documents[i]['Total Blocks']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Franchise Leader Steals</td>
                    <td>{{franLeaders_documents[i]['STL Franchise Leader Name']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Total Steals</td>
                    <td>{{franLeaders_documents[i]['Total Steals']}}</td>
                </tr>
            </table>
            <br>
        </div>
        {% else %}
        <div class = "grid-item_2">
            <h4><b>{{franLeaders_documents[i]['Team Name']}}</b></h4>
            <img src="/static/images/nbaTeams_fran/{{ franLeaders_documents[i]['Team Name'] }}.jpeg" alt="No picture found" width="120" height="120" />
            <br>
            <br>
            <table>
                <tr>
                    <td style="font-weight:bold">Franchise Leader Points</td>
                    <td>{{franLeaders_documents[i]['PTS Franchise Leader Name']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Total Points</td>
                    <td>{{franLeaders_documents[i]['Total Points']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Franchise Leader Assists</td>
                    <td>{{franLeaders_documents[i]['AST Franchise Leader Name']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Total Assists</td>
                    <td>{{franLeaders_documents[i]['Total Assists']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Franchise Leader Rebounds</td>
                    <td>{{franLeaders_documents[i]['REB Franchise Leader Name']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Total Rebounds</td>
                    <td>{{franLeaders_documents[i]['Total Rebounds']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Franchise Leader Blocks</td>
                    <td>{{franLeaders_documents[i]['BLK Franchise Leader Name']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Total Blocks</td>
                    <td>{{franLeaders_documents[i]['Total Blocks']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Franchise Leader Steals</td>
                    <td>{{franLeaders_documents[i]['STL Franchise Leader Name']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Total Steals</td>
                    <td>{{franLeaders_documents[i]['Total Steals']}}</td>
                </tr>
            </table>
            <br>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}