{% extends 'index.html'%}

{% block head %}
{% endblock %}

{% block body %}

<h1 class="text-center">HOME</h1>

<div class="container pb-10">
<h1 class="text-center bg-white">NBA Games from 2019</h1>
            <table class="table table-striped">
                <thead>
            <tr>
                <th>Home</th>
                <th>Score</th>
                <th>vs</th>
                <th>Away</th>
                <th>Score</th>
            </tr>
                </thead>
        <tbody>
        <tr>
                <td>Oklahoma Thunder City</td>
                <td>85</td>
                <td></td>
                <td>Washington Wizards</td>
                <td>97</td>

            </tr>
        <tr>
                <td>San Antonio Spurs</td>
                <td>104</td>
                <td></td>
                <td>Los Angeles Lakers</td>
                <td>114</td>

            </tr>
        <tr>
                <td>Indiana Pacers</td>
                <td>115</td>
                <td></td>
                <td>Philadelphia 76ers</td>
                <td>97</td>

            </tr>
        <tr>
                <td>Dallas Mavericks</td>
                <td>103</td>
                <td></td>
                <td>Boston Celtics</td>
                <td>109</td>

            </tr>
        <tr>
                <td>Oklahoma City Thunder</td>
                <td>100</td>
                <td></td>
                <td>Indiana Pacers</td>
                <td>107</td>

            </tr>
        </tbody>
            </table>
</div>
<p class="text-center">Highlights for 5 random games from the 2019 regular season</p>
<p><a href="">Sharing Pop-up Page</a></p>

{% endblock %}