<!DOCTYPE html>

<html>
    <head>
        <title>EE461L-NBA Project</title>
            <script src="{{ url_for('static', filename='script.js') }}"></script>
            <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
    <body>
        <h1>EE461L-NBA Project</h1>
        <ul>
            <li><a href= "">About Page</a></li>
            <li><a href= "/Players">Players</a></li>
            <li><a href= "/Teams">Teams</a></li>
            <li><a href= "/News">News</a></li>
            <li><a href= "">Year</a></li>
            <li><a href= "">Playoff/Season Simulator</a></li>
            <li><a href= "">Trade Simulator</a></li>
            <li><a href= "">Settings</a></li>
            <li><a href= "">Favorite Team</a></li>
            <li><a href= "">Favorite Player</a></li>
            <li><a href= "">Comparison Page</a></li>
            <li><a href= "">Account Sign Up/Login Page</a></li>
            <li><a href= "">Sharing Pop-up Page</a></li>
        </ul>
    </body>
</html>