<!DOCTYPE html>

<html>
    <head>
                
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
                <!-- Bootstrap init -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% block head %}
        <title>EE461L: NBA Project</title>
        {% endblock %}
        
    </head>
    
    <body>
        
        <!-- NAV BAR -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        
            <a class="navbar-brand" href="/">NBA &amp; WNBA Database</a>

            <ul class="navbar-nav">
                <!-- MAIN PAGES -->
                <li class="nav-item">
                    <a class="nav-link" href='/Players'>Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/Teams'>Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/News'>News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/AboutPage'>About</a>
                </li>
                <!-- DROP-DOWN, extra pages -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle id=navbardrop" data-toggle="dropdown">More</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Fantasy">Fantasy</a>
                        <a class="dropdown-item" href="/Franchise_Leaders">Franchise Leaders</a>
                        <a class="dropdown-item" href="/Coaches">Coaches</a>
                        <a class="dropdown-item" href="/Year">Archive</a>
                        <a class="dropdown-item" href="/favteam">Favorite Team</a>
                        <a class="dropdown-item" href="/favplayer">Favorite Player</a>
                        <a class="dropdown-item" href="/comparison">Compare</a>
                        <a class="dropdown-item" href="/Settings">Settings</a>
                    </div>
                </li>
            </ul>    
            <button type='button' style="position: absolute; right: 10px; text-align: center">
                <a class="nav-link" href="/account">Login</a>
            </button>
        </nav>
        {% block body %}
        
        <!-- SCORES -->
        <div class="container-fluld">
            <h2 style="text-align: center">HOME</h2>
            <div class="container p-5 center" id="box_score" >
                <h4 style="text-align: center">NBA Games from 2019</h4>

                <table class="center" style="width:750px; text-align: center">
                    <caption>Highlights for 5 random games from the 2019 NBA regular season</caption>
                    <tr>
                        <th>Home</th>
                        <th>Score</th>
                        <th> vs </th>
                        <th>Away</th>
                        <th>Score</th>
                    </tr>
                    <tr>
                        <td>{{ scores[0][1] }}</td>
                        <td>{{ scores[0][0] }}</td>
                        <td> </td>
                        <td>{{ scores[0][3] }}</td>
                        <td>{{ scores[0][2] }}</td>
                    </tr>
                    <tr>
                        <td>{{ scores[1][1] }}</td>
                        <td>{{ scores[1][0] }}</td>
                        <td> </td>
                        <td>{{ scores[1][3] }}</td>
                        <td>{{ scores[1][2] }}</td>
                    </tr>
                    <tr>
                        <td>{{ scores[2][1] }}</td>
                        <td>{{ scores[2][0] }}</td>
                        <td> </td>
                        <td>{{ scores[2][3] }}</td>
                        <td>{{ scores[2][2] }}</td>
                    </tr>
                    <tr>
                        <td>{{ scores[3][1] }}</td>
                        <td>{{ scores[3][0] }}</td>
                        <td> </td>
                        <td>{{ scores[3][3] }}</td>
                        <td>{{ scores[3][2] }}</td>
                    </tr>
                    <tr>
                        <td>{{ scores[4][1] }}</td>
                        <td>{{ scores[4][0] }}</td>
                        <td> </td>
                        <td>{{ scores[4][3] }}</td>
                        <td>{{ scores[4][2] }}</td>
                    </tr>
                </table>
            
            </div>
        </div>
        <!-- unsure of where to put -->
        <ul>
            <li><a href= "">Sharing Pop-up Page</a></li>
        </ul>
        {% endblock %}
        <style>
            body {
                background-color: white;
            }
            .container-fluid {
                margin-top: 0px;
                margin-bottom: 0px;
                background-color: #fff3db;
            }
            .center {
                margin-left: auto;
                margin-right: auto;
            }
            #boxscore {

            }
            table {
                margin-left: auto;
                margin-right: auto;
                table-layout: fixed;
                width: 100%;
                border: 2px solid black;
                background-color: #ffefc2;
            }
            td, th {
                padding: 10px;
            }
            tbody tr:nth-child(even) {
                background-color: #edd698;
            }
            a {
                color: #b88a00;
            }

        </style>
    </body>
</html>