{% extends 'index.html' %}

{% block head %}
<title>News Instance Page #1</title>

{% endblock %}

{% block body %}
<div class="container-fluid" style="text-align: center;">
	<h4>News: Bam Adebayo Will Officially Return For Game 4 </h4>
	<img src="/static/images/newspage/Adrian Wojnarowski.jpg" alt="Woj" width="120" height="120">

	<br><br>
	<h6>News Instance Page #1</h6>
	<br>
	<table style="width:500px">
		<tr>
			<td style="font-weight: bold">Date Posted</td>
			<td>2020-10-07</td>
		</tr>
		<tr>
			<td style="font-weight: bold">Categories</td>
			<td>Injuries</td>
		</tr>
		<tr>
			<td style="font-weight: bold">Team</td>
			<td>MIA</td>
		</tr>
		<tr>
			<td style="font-weight: bold">Source</td>
			<td>Tim Reynolds</td>
		</tr>
	</table>
</div>
{% endblock %}