{% extends 'base_modelpages.html' %}
{% block title %}
<title>News</title>
{% endblock %}
{% block body %} 

<div class="jumbotron bg-danger text-white" style="text-align: center">
    <h1>Latest News</h1>
</div>
<div style="background-color: lightblue">
<form action="/News" method="GET">
    <input type="text" id="search" name="search" placeholder="Enter date">
    <input type="submit" name="submit" value="Search" class="btn btn-secondary ml-3">
    <input type="submit" name="submit" value="Default" class="btn btn-secondary ml-3"/>
</form>
<br>
<form action="/News" method="GET">
    <select name="Category" id="Category" class="custom-select-sm">
        <optgroup label = "Filter by category"></optgroup>
        <option selected>All categories</option>
        <option>Injuries</option>
        <option>Transactions</option>
        <option>Sit-Start</option>
        <option>Risers</option>
    </select>
    <select name="Team" id="Team" class="custom-select-sm">
        <optgroup label = "Filter by team"></optgroup>
        <option selected>All teams</option>
        <option>BOS</option>
        <option>CHI</option>
        <option>CLE</option>
        <option>DAL</option>
        <option>DEN</option>
        <option>HOU</option>
        <option>LAC</option>
        <option>LAL</option>
        <option>MEM</option>
        <option>MIA</option>
        <option>MIL</option>
        <option>NO</option>
        <option>OKC</option>
        <option>ORL</option>
        <option>POR</option>
        <option>TOR</option>
        <option>WAS</option>
    </select>
    <select name="Sort" id="Sort" class="custom-select-sm">
        <optgroup label = "Sort by"></optgroup>
        <option selected>Default: Date (Latest to Earliest)</option>
        <option>Date (Earliest to Latest)</option>
        <option>Title (A to Z)</option>
        <option>Title (Z to A)</option>
        <option>Source (A to Z)</option>
        <option>Source (Z to A)</option>
    </select>
    <input type="submit" name="submit" value="Place" class="btn btn-secondary ml-3">
</form>
</div>
</br>
{% if filter_category != "All categories" and filter_category != None and filter_category != "None" %}
    <h6><b>Filter (Category): {{ filter_category }}</b></h6>
{% endif %}
{% if filter_team != "All teams" and filter_team != None and filter_team != "None" %}
    <h6><b>Filter (Team): {{ filter_team }}</b></h6>
{% endif %}
{% if sort != "Default: Date (Latest to Earliest)" and sort != None and sort != "None" %}
    <h6><b>Sort: {{ sort }}</b></h6>
{% endif %}
<h6><b>Number of instances: {{ num_instances }}</b></h6>
<h6><b>Page {{ page }} of {{ num_pages }}</b></h6>

<div class = "grid-container">
    {% for i in range(posts| length) %}
        {% if (i % 2) == 0 %}
        <div class="grid-item">
            <h4><b>{{posts[i]['Title'].split(" ")[0]}} {{posts[i]['Title'].split(" ")[1]}} {{posts[i]['Title'].split(" ")[2]}}...</b></h4>
            <br>
            <table>
        	 	<tr>
                    <td style="font-weight:bold">Date Posted</td>
                    <td>{{posts[i]['Updated'][:10]}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Categories</td>
                    <td>{{posts[i]['Categories']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Team</td>
                    <td>{{posts[i]['Team']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Source</td>
                    <td>{{posts[i]['OriginalSource']}}</td>
                </tr>
            </table>
            <br>
            <figure>
                <img src="/static/images/newspage/{{ posts[i]['OriginalSource'] }}.jpg" alt="No picture found" width="120" height="120" />
                <figcaption>{{posts[i]['OriginalSource']}}</figcaption>
            </figure>
            <a href = "{{posts[i]['OriginalSourceUrl']}}">Original Source Link</a>
            <br>
            {% if i == 0 %}
                <a href = "/newsInstance1">Instance Page Link</a>
            {% elif i == 2 %}
                <a href = "/newsInstance3">Instance Page Link</a>
            {% else %}
            <a href = "#">Instance Page Link</a>
            {% endif %}
        </div>
        {% else %}
        <div class="grid-item_2">
            <h4><b>{{posts[i]['Title'].split(" ")[0]}} {{posts[i]['Title'].split(" ")[1]}} {{posts[i]['Title'].split(" ")[2]}}...</b></h4>
            <br>
            <table>
                <tr>
                    <td style="font-weight:bold">Date Posted</td>
                    <td>{{posts[i]['Updated'][:10]}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Categories</td>
                    <td>{{posts[i]['Categories']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Team</td>
                    <td>{{posts[i]['Team']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Source</td>
                    <td>{{posts[i]['OriginalSource']}}</td>
                </tr>
            </table>
            <br>
            <figure>
                <img src="/static/images/newspage/{{ posts[i]['OriginalSource'] }}.jpg" alt="No picture found" width="120" height="120" />
                <figcaption>{{posts[i]['OriginalSource']}}</figcaption>
            </figure>
            <a href = "{{posts[i]['OriginalSourceUrl']}}">Original Source Link</a>
            <br>
            {% if i == 1 %}
                <a href = "/newsInstance2">Instance Page Link</a>
            {% else %}
                <a href = "#">Instance Page Link</a>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
</div>
<form action="/News" method="GET">
    <select name="page" id="page" class="custom-select-sm">
        {% for i in range(1, num_pages+1) %}
            {% if i == page %}
                <option selected>{{i}}</a> 
            {% else %}
                <option>{{i}}</a> 
            {% endif %}
        {% endfor %}
    </select>
    <select hidden name="Category" id="Category" class="custom-select-sm">
        <option selected>{{filter_category}}</a> 
    </select>
    <select hidden name="Team" id="Team" class="custom-select-sm">
        <option selected>{{filter_team}}</a> 
    </select>
     <select hidden name="Sort" id="Sort" class="custom-select-sm">
        <option selected>{{sort}}</a> 
    </select>
    <input type="submit" value="Go" class="btn btn-secondary ml-3" />
</form>
{% endblock %}









