{% extends 'base_modelpages.html' %}
{% block title %}
<title>News</title>
{% endblock %}
{% block body %} 
<h1>Latest News</h1>

<form action="/News" method="POST">
    <select name="Filter by category" id="Filter by category">
        <optgroup label = "Filter by category">
        <option selected>All categories</option>
        <option>Injuries</option>
        <option>Transactions</option>
        <option>Sit-Start</option>
        <option>Risers</option>
    </select>


    <select name="Filter by team" id="Filter by team">
        <optgroup label = "Filter by team">
        <option selected>All teams</option>
        <option>BOS</option>
        <option>CHI</option>
        <option>CLE</option>
        <option>DAL</option>
        <option>DEN</option>
        <option>HOU</option>
        <option>LAC</option>
        <option>LAL</option>
        <option>MEM</option>
        <option>MIA</option>
        <option>MIL</option>
        <option>NO</option>
        <option>OKC</option>
        <option>ORL</option>
        <option>POR</option>
        <option>TOR</option>
        <option>WAS</option>
    </select>

    <select name="Sort" id="Sort">
        <optgroup label = "Sort by">
        <option selected>Default: Date (Latest to Earliest)</option>
        <option>Date (Earliest to Latest)</option>
        <option>Title (A to Z)</option>
        <option>Title (Z to A)</option>
        <option>Source (A to Z)</option>
        <option>Source (Z to A)</option>
    </select>
    <input type="submit" name="submit" value="Place">
</form>

{% if filter_category != "All categories" %}
    <h6><b>Filter (Category): {{ filter_category }}</b></h6>
{% endif %}
{% if filter_team != "All teams" %}
    <h6><b>Filter (Team): {{ filter_team }}</b></h6>
{% endif %}
{% if sort != "Default: Date (Latest to Earliest)" %}
    <h6><b>Sort: {{ sort }}</b></h6>
{% endif %}
<h6><b>Number of instances: {{ num_instances }}</b></h6>

<div class = "grid-container">
    {%for article in articles%}
        <div class="grid-item">
            <h4><b>{{article['Title']}}</b></h4>
            <br>
            <table>
        	 	<tr>
                    <td style="font-weight:bold">Date Posted</td>
                    <td>{{article['Updated'][:10]}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Categories</td>
                    <td>{{article['Categories']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Team</td>
                    <td>{{article['Team']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Source</td>
                    <td>{{article['OriginalSource']}}</td>
                </tr>
            </table>
            <br>
            <figure>
                <img src="/static/images/newspage/{{ article['OriginalSource'] }}.jpg" alt="No picture found" width="120" height="180" />
                <figcaption>{{article['OriginalSource']}}</figcaption>
            </figure>
            <a href = "{{article['OriginalSourceUrl']}}">Original Source Link</a>
            <br>
            <a href = "">Instance Page Link</a>
        </div>
    {% endfor %}
</div>
{% endblock %}









