{% extends 'base_modelpages.html' %}
{% block title %}
<title>Players</title>
{% endblock %}
{% block body %} 

<div class="jumbotron bg-primary text-white" style="text-align: center">
    <h1>Selected Players</h1>
</div>
<div style="background-color: lightblue">
<form action="/Players" method="POST">
    <input type="text" id="search" name="search" placeholder="Enter player" >
    <input type="submit" name="submit" value="Search" class="btn btn-secondary ml-3">
    <input type="submit" name="submit" value="Default" class="btn btn-secondary ml-3" />
</form>
<br>
<form action="/Players" method="POST">
    <select name="Filter by status" id="Filter by status" class="custom-select-sm">
        <optgroup label = "Filter by status"></optgroup>
        <option selected>All statuses</option>
        <option>Active</option>
        <option>Not Active</option>
    </select>
    <select name="Filter by position" id="Filter by position" class="custom-select-sm">
        <optgroup label = "Filter by position"></optgroup>
        <option selected>All positions</option>
        <option>Forward</option>
        <option>Center-Forward</option>
        <option>Forward-Center</option>
        <option>Forward-Guard</option>
        <option>Center</option>
        <option>Guard-Forward</option>
        <option>Guard</option>
    </select>
    <select name="Filter by team" id="Filter by team" class="custom-select-sm">
        <optgroup label = "Filter by team"></optgroup>
        <option selected>All teams</option>
        <option>76ers</option>
        <option>Bucks</option>
        <option>Bulls</option>
        <option>Cavaliers</option>
        <option>Celtics</option>
        <option>Clippers</option>
        <option>Grizzlies</option>
        <option>Hawks</option>
        <option>Heat</option>
        <option>Hornets</option>
        <option>Jazz</option>
        <option>Kings</option>
        <option>Knicks</option>
        <option>Lakers</option>
        <option>Magic</option>
        <option>Mavericks</option>
        <option>Nets</option>
        <option>Nuggets</option>
        <option>Pacers</option>
        <option>Pelicans</option>
        <option>Pistons</option>
        <option>Rockets</option>
        <option>Spurs</option>
        <option>Suns</option>
        <option>Thunder</option>
        <option>Timberwolves</option>
        <option>Trail Blazers</option>
        <option>Warriors</option>
        <option>Wizards</option>
    </select>
    <select name="Sort" id="Sort" class="custom-select-sm">
        <optgroup label = "Sort by"></optgroup>
        <option selected>Default: Name (A-Z)</option>
        <option>Name (Z-A)</option>
        <option>Start Year (Earliest to Latest)</option>
        <option>Start Year (Latest to Earliest)</option>
        <option>End Year (Earliest to Latest)</option>
        <option>End Year (Latest to Earliest)</option>
    </select>
    <input type="submit" name="submit" value="Place" class="btn btn-secondary ml-3">
</form>
</div>
<br>
{% if filter_status != "All statuses" %}
    <h6><b>Filter (Status): {{ filter_status }}</b></h6>
{% endif %}
{% if filter_position != "All positions" %}
    <h6><b>Filter (Position): {{ filter_position }}</b></h6>
{% endif %}
{% if filter_team != "All teams" %}
    <h6><b>Filter (Team): {{ filter_team }}</b></h6>
{% endif %}
{% if sort != "Default: Name (A-Z)" %}
    <h6><b>Sort: {{ sort }}</b></h6>
{% endif %}
<h6><b>Number of instances: {{ num_instances }}</b></h6>
<div class = "grid-container">
    {% for i in range(players| length) %}
        {% if (i % 2) == 0 %}
            <div class="grid-item">
                <h4><b>{{players[i]['Name']}}</b></h4>
                <img src="/static/images/playerspage/{{ players[i]['Name'] }}.jpg" alt="No picture found" width="120" height="180" />
                <br>
                <br>
                <table>
                    <tr>
                        <td style="font-weight:bold">Status</td>
                        <td>{{players[i]['Status']}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Team</td>
                        <td>{{players[i]['Team']}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Position</td>
                        <td>{{players[i]['Position']}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Career</td>
                        <td>{{players[i]['Start Year']}}-{{players[i]['End Year']}}</td>
                    </tr>
                </table>
                <br>
                <a href = "">Instance Page Link</a>
            </div>
        {% else %}
            <div class="grid-item_2">
                <h4><b>{{players[i]['Name']}}</b></h4>
                <img src="/static/images/playerspage/{{ players[i]['Name'] }}.jpg" alt="No picture found" width="120" height="180" />
                <br>
                <br>
                <table>
                    <tr>
                        <td style="font-weight:bold">Status</td>
                        <td>{{players[i]['Status']}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Team</td>
                        <td>{{players[i]['Team']}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Position</td>
                        <td>{{players[i]['Position']}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Career</td>
                        <td>{{players[i]['Start Year']}}-{{players[i]['End Year']}}</td>
                    </tr>
                </table>
                <br>
                <a href = "">Instance Page Link</a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
