<!DOCTYPE html>
<html>
    <head>
        <title>Playoff Simulator</title>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h1>Playoff Simulator</h1>
        <button onclick = "simSeason()">Simulate Playoff for NBA</button>
        <p id = "playoffTeam1"></p>
        <p id = "playoffTeam2"></p>
        <p id = "playoffTeam3"></p>
        <p id = "playoffTeam4"></p>
        <p id = "playoffTeam5"></p>
        <p id = "playoffTeam6"></p>
        <p id = "playoffTeam7"></p>
        <p id = "playoffTeam8"></p>


    </body>
</html>