{% extends 'index.html' %}


{% block head %}
<title>EE461L: Settings</title>
{% endblock %}

{% block body %}
<div class="container p-5">
	<h4 style="text-align:center">Settings</h4>
	<div class="container" style="text-align: center; width:750px">
		<div class="row" style="margin:5px">
			<div class="col-sm-5">Change password</div>
			<!-- replace with link here -->
			<div class="col-sm-5">Link to change here</div>
		</div>	
		<div class="row" style="margin:5px">
			<div class="col-sm-5">Customize website</div>
			<div class="col-sm-5">Link to change here</div>
		</div>	
		<div class="row" style="margin:5px">
			<div class="col-sm-5">Set favorite teams</div>
			<div class="col-sm-5">Link to change here</div>
		</div>	
		<div class="row" style="margin:5px">
			<div class="col-sm-5">Set favorite player</div>
			<div class="col-sm-5">Link to change here</div>
		</div>	
		<div class="row" style="margin:5px">
			<div class="col-sm-5">Share favorites with friends</div>
			<div class="col-sm-5">Link to do here?</div>
		</div>	


	</div>
</div>


{% endblock %}