{% extends 'index.html' %}

{% block head %}
<title>EE461L: Las Vegas Aces</title>
{% endblock %}

{% block body %}
<div class="container-fluid" style="text-align: center;">
	<h4>Teams: Las Vegas Aces</h4>
	<img src="/static/images/teamspage/Aces.jpg" alt="sixers logo" width="120" height="120">

	<br><br>
	<h6>Team Information</h6>
	<br>
	<table style="width:500px;">
		<tr>
			<td style="font-weight: bold">League</td>
			<td>WNBA</td>
		</tr>
		<tr>
			<td style="font-weight: bold">Location</td>
			<td>Las Vegas</td>
		</tr>
		<tr>
			<td style="font-weight: bold">Year Founded</td>
			<td>1997</td>
		</tr>
		<tr>
			<td style="font-weight: bold">Conference</td>
			<td>West</td>
		</tr>
		<tr>
			<td style="font-weight: bold">Coach</td>
			<td>Bill Laimbeer</td>
		</tr>
	</table>
</div>
{% endblock %}