{% extends 'index.html' %}

{% block head %}
<title>EE461L: Philadelphia 76ers</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
	<h4>Teams: Philadelphia 76ers</h4>
	<img src="/static/images/teamspage/76ers.jpg" alt="sixers logo" width="120" height="120">

	<br><br>
	<h6>Team Information</h6>
	<br>
	<table >
		<tr>
			<td style="font-weight: bold">League</td>
			<td>NBA</td>
		</tr>
		<tr>
			<td style="font-weight: bold">Location</td>
			<td>Philadelphia</td>
		</tr>
		<tr>
			<td style="font-weight: bold">Year Founded</td>
			<td>1949</td>
		</tr>
		<tr>
			<td style="font-weight: bold">Conference</td>
			<td>East</td>
		</tr>
		<tr>
			<td style="font-weight: bold">Division</td>
			<td>Atlantic</td>
		</tr>
		<tr>
			<td style="font-weight: bold">Coach</td>
			<td>Doc Rivers</td>
		</tr>
	</table>
</div>
{% endblock %}