{% extends 'base_modelpages.html' %}
{% block title %}
<title>Teams</title>
{% endblock %}
{% block body %} 
<div style="background-color: lightblue">
<h3>Active Teams</h3>
<form action="/Teams_search" method="POST">
    <input type="text" id="search" name="search" placeholder="Enter team">
    <input type="submit" name="submit" value="Search">
    <input type="submit" name="submit" value="Default" />
</form>
<br>
<form action="/Teams" method="POST">
    <select name="Filter by league" id="Filter by league">
        <optgroup label = "Filter by league">
        <option selected>All leagues</option>
        <option>NBA</option>
        <option>WNBA</option>
    </select>
    <select name="Filter by conference" id="Filter by conference">
        <optgroup label = "Filter by conference">
        <option selected>All conferences</option>
        <optgroup label = "NBA">
        <option>NBA East</option>
        <option>NBA West</option>
        <optgroup label = "WNBA">
        <option>WNBA East</option>
        <option>WNBA West</option>
    </select>
    <select name="Filter by division" id="Filter by division">
        <optgroup label = "Filter by division">
        <option selected>All divisions</option>
        <optgroup label = "NBA East">
        <option>Atlantic</option>
        <option>Central</option>
        <option>Southeast</option>
        <optgroup label = "NBA West">
        <option>Northwest</option>
        <option>Pacific</option>
        <option>Southwest</option>
    </select>
    <select name="Sort" id="Sort">
        <optgroup label = "Sort by">
        <option selected>Default: Team Name (A-Z)</option>
        <option>Team Name (Z-A)</option>
        <option>Location (A-Z)</option>
        <option>Location (Z-A)</option>
        <option>Year Founded (Earliest to Latest)</option>
        <option>Year Founded (Latest to Earliest)</option>
    </select>
    <input type="submit" name="submit" value="Place">
</form>
</div>
<br>
{% if filter_league != "All leagues" %}
    <h6><b>Filter (League): {{ filter_league }}</b></h6>
{% endif %}
{% if filter_conference != "All conferences" %}
    <h6><b>Filter (Conference): {{ filter_conference }}</b></h6>
{% endif %}
{% if filter_division != "All divisions" %}
    <h6><b>Filter (Division): {{ filter_division }}</b></h6>
{% endif %}
{% if sort != "Default: Team Name (A-Z)" %}
    <h6><b>Sort: {{ sort }}</b></h6>
{% endif %}
<h6><b>Number of instances: {{ num_instances }}</b></h6>

<div class = "grid-container">
    {% for i in range(teams| length) %}
        {% if (i % 2) == 0 %}
            <div class="grid-item">
                <h4><b>{{teams[i]['Name']}}</b></h4>
                <img src="/static/images/teamspage/{{ teams[i]['Name'] }}.jpg" alt="No picture found" width="120" height="120" /> 
                <br><br>
                <table>
                	<tr>
                        <td style="font-weight:bold">League</td>
                        <td>{{teams[i]['League']}}</td>
                    </tr>                
                    <tr>
                        <td style="font-weight:bold">Location</td>
                        <td>{{teams[i]['Location']}}</td>
                    </tr>
                	<tr>
                        <td style="font-weight:bold">Year Founded</td>
                        <td>{{teams[i]['Year Founded']}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Conference</td>
                        <td>{{teams[i]['Conference']}}</td>
                    </tr>
                    {% if teams[i]['League'] == 'NBA' %}
                        <tr>
                            <td style="font-weight:bold">Division</td>
                            <td>{{teams[i]['Division']}}</td>
                        </tr> 
                    {% endif %}
                    {% if teams[i]['Coach'] != ' ' %}
                    <tr>
                        <td style="font-weight:bold">Coach</td>
                        <td>{{teams[i]['Coach']}}</td>
                    </tr>
                    {% endif %}
                </table>
                <br>
                {% if teams[i]['League'] == 'WNBA' %}
                    <br>
                {% endif %}
                <a href = "">Instance Page Link</a>
            </div>
        {% else %}
            <div class="grid-item_2">
                <h4><b>{{teams[i]['Name']}}</b></h4>
                <img src="/static/images/teamspage/{{ teams[i]['Name'] }}.jpg" alt="No picture found" width="120" height="120" /> 
                <br><br>
                <table>
                    <tr>
                        <td style="font-weight:bold">League</td>
                        <td>{{teams[i]['League']}}</td>
                    </tr>                
                    <tr>
                        <td style="font-weight:bold">Location</td>
                        <td>{{teams[i]['Location']}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Year Founded</td>
                        <td>{{teams[i]['Year Founded']}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Conference</td>
                        <td>{{teams[i]['Conference']}}</td>
                    </tr>
                    {% if teams[i]['League'] == 'NBA' %}
                        <tr>
                            <td style="font-weight:bold">Division</td>
                            <td>{{teams[i]['Division']}}</td>
                        </tr> 
                    {% endif %}
                    {% if teams[i]['Coach'] != ' ' %}
                    <tr>
                        <td style="font-weight:bold">Coach</td>
                        <td>{{teams[i]['Coach']}}</td>
                    </tr>
                    {% endif %}
                </table>
                <br>
                {% if teams[i]['League'] == 'WNBA' %}
                    <br>
                {% endif %}
                <a href = "">Instance Page Link</a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
