{% extends 'index.html' %}


{% block head %}
<style>
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
</style>

{% endblock %}

{% block title %}
<title>Archive</title>
{% endblock %}
{% block body %}

<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h4><b>Champions by Year</b></h4>
			<ul class="timeline">
        {% for year in year_info_documents %}
				<li>
            <a href="#" class="float-right">{{year['Year']}}</a>
            <br>
            <table>
            	<tr>
                    <td style="font-weight:bold">NBA Finals Champion</td>
                    <td>{{year['NBA Finals Winner']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Western Conference Champion</td>
                    <td>{{year['Western Champion']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Eastern Conference Champion</td>
                    <td>{{year['Eastern Champion']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Finals MVP</td>
                    <td>{{year['Finals MVP']}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Season MVP</td>
                    <td>{{year['Season MVP']}}</td>
                </tr>
            </table>
        </li>
        {% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}

